{% extends 'base.html' %}

{% block content %}
<div class="container container-main">
    <!-- <div class="row"> -->
    </br>
        <div id="heading">
            <p><strong>Transcribe and Summarize speech from audio or video sources</strong></p>
        </div>
        <div>
            <!-- <br/> -->
            <!-- <h1 class="text-center" style="color: #fe5e21">Just Transcribe & Summarize</h1> -->
            <div id="description">
                <p>
                Want to find out the transcriptions and the summarized version of your favorite video or text? 
                May it be a lecture a vlog or a personal one with conversations in it or a long text/paragraph. 
                This is the place then. You can have your video transcribed, summarized.
                Not only that, you will also be able to know the type of the video or text and important topics in it.</p>
            
                <p>Let's get started.</p>
            </div>
            <!-- </br> -->
        </div>

        <!-- callout -->
        <div class="callout callout-info">
            <p>Submit only <strong>one</strong> thing. Either a youtube video link or upload a video or audio file or just 
            the long text.</p>
        </div>

    <!-- </div> -->
    
    <!-- <div class="row"> -->
        <div class="col-md-6">
            <form id="form-control" method="POST" action="/" enctype="multipart/form-data">

                <div>
                    <label class="form-label mb-1" for="input_link">Youtube video link</label>
                    <input type="text" class="form-control mb-1" id="input_link" name="input_link" placeholder="Enter link">
                <p>Or,</p>
                </div>

                <div>
                    <label class="form-label mb-1" for="input_media">Upload Media File</label>
                    <input type="file" class="form-control mb-1" id="input_media" name="input_media">
                <p>Or,</p>
                </div>

                <!-- for media upload -->

                <div>
                    <label class="form-label mb-1" for="input_text">Enter Text</label>
                    <textarea class="form-control" id="floatingTextarea2" placeholder="Text you want to summarize" name="input_text" style="height: 100px; background-color: rgb(228, 226, 224);">{{ input_text }}</textarea>
                <!-- </br><p>Or,</p> -->
                </div>

                <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="btn btn-secondary" onclick="clearAllText()">Clear</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
            {% if output_text %}
            <div class="mb-3 mt-3" id="responseCard">
                <div class="card" style="background-color: #edebe2;"> 
                    <div class="card-header text-black">
                        <h5 class="card-title text-center">Tasks</h5>
                        <p class="card-text" id="outputText">{{ output_text }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
</div>


<script>

    
    function clearAllText() {
        document.getElementById("floatingTextarea2").value = "";
        document.querySelector("#responseCard").style.display = "none";
}


//     function submitForm() {
//         showResponse();
//         return false;
// }
</script>

{% endblock content %}